[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/[Bb]in/
/[Oo]bj/

FMS/App_Data/
FMS/bower/
FMS/node_modules/
FMS/distr/ 

packages/
.vs/

nuget.exe
package.zip

