[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/[Bb]in/
/[Oo]bj/

/[Aa]pp_[Dd]ata/


bower/
node_modules/
packages/
FMS/distr/ 
.vs/
_references.js
nuget.exe
package.zip




