<div class="row">
    <div class="panel panel-danger panel-strong">
        <div class="panel-heading clearfix clickable" data-ng-click="toggleDocuments('administrativePractice')">
            <h3 class="panel-title pull-left">
                Документы - Административная практика
                <span>({{person.docsCount.administrativePractice}})</span>
            </h3>
            <h3 class="panel-title pull-right">
                <i class="fa"
                   data-ng-class="{'fa-chevron-circle-up': vm.collapse.administrativePractice, 'fa-chevron-circle-down': !vm.collapse.administrativePractice}"></i>
            </h3>
        </div>
        <div data-collapse="!vm.collapse.administrativePractice">
            <div class="panel-body">
                <form name="docForm" data-ng-if="documents.administrativePractice.length>0">
                    <div data-ng-repeat="doc in documents.administrativePractice track by doc.id" class="person-doc">
                        <h4>
                            Документ №: {{doc.number}}
                            <small data-ng-if="doc.createdDate==doc.updatedDate">(создан: {{doc.createdDate|date:'dd.MM.yyyy'}}, автор: {{doc.createdBy}})</small>
                            <small data-ng-if="doc.createdDate!=doc.updatedDate">(изменен: {{doc.updatedDate|date:'dd.MM.yyyy'}}, автор: {{doc.updatedBy}})</small>
                        </h4>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="number">
                                        Номер документа
                                    </label>
                                    <input type="text" class="form-control" id="number" name="number" maxlength="255" data-ng-model="doc.number" />
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.dateCreate.prmNameRu}}
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="dateCreate"
                                           data-ng-model="doc.parameters.dateCreate.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.article.prmNameRu}}
                                    </label>
                                    <select class="form-control"
                                            name="article"
                                            data-ng-disabled="vm.loader.article"
                                            data-ng-options="item.key as item.value for item in vm.dicts.article"
                                            data-ng-model="doc.parameters.article.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.crimeType.prmNameRu}}
                                    </label>
                                    <select class="form-control"
                                            name="article"
                                            data-ng-disabled="vm.loader.crimeType"
                                            data-ng-options="item.key as item.value for item in vm.dicts.crimeType"
                                            data-ng-model="doc.parameters.crimeType.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.stateDepartment.prmNameRu}}
                                    </label>
                                    <select class="form-control"
                                            name="article"
                                            data-ng-disabled="vm.loader.stateDepartment"
                                            data-ng-options="item.key as item.value for item in vm.dicts.stateDepartment"
                                            data-ng-model="doc.parameters.stateDepartment.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.docStatus.prmNameRu}}
                                    </label>
                                    <select class="form-control"
                                            name="article"
                                            data-ng-disabled="vm.loader.docStatus"
                                            data-ng-options="item.key as item.value for item in vm.dicts.docStatus"
                                            data-ng-model="doc.parameters.docStatus.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.decreeDate.prmNameRu}}
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="decreeDate"
                                           data-ng-model="doc.parameters.decreeDate.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.decreeStr.prmNameRu}}
                                    </label>
                                    <select class="form-control"
                                            name="article"
                                            data-ng-disabled="vm.loader.decreeStr"
                                            data-ng-options="item.key as item.value for item in vm.dicts.decreeStr"
                                            data-ng-model="doc.parameters.decreeStr.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.penaltyType.prmNameRu}}
                                    </label>
                                    <select class="form-control"
                                            name="article"
                                            data-ng-disabled="vm.loader.penaltyType"
                                            data-ng-options="item.key as item.value for item in vm.dicts.penaltyType"
                                            data-ng-model="doc.parameters.penaltyType.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.sumAccrued.prmNameRu}}
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="sumAccrued"
                                           data-ng-model="doc.parameters.sumAccrued.floatValue">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        {{::doc.parameters.sumPaid.prmNameRu}}
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="sumPaid"
                                           data-ng-model="doc.parameters.sumPaid.floatValue">
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <h4 data-ng-if="documents.administrativePractice.length==0">Нет данных</h4>
                <img class="preloader" src="img/dark_preloader.gif" data-ng-if="vm.loader.administrativePractice" />
            </div>
        </div>
    </div>
</div>