<div class="row">
    <div class="panel panel-primary panel-strong">
        <div class="panel-heading clearfix clickable" data-ng-click="toggleDocuments('citizenship')">
            <h3 class="panel-title pull-left">
                Документы - Гражданство
                <span>({{person.docsCount.citizenship}})</span>
            </h3>
            <h3 class="panel-title pull-right">
                <i class="fa"
                   data-ng-class="{'fa-chevron-circle-up': vm.collapse.citizenship, 'fa-chevron-circle-down': !vm.collapse.citizenship}"></i>
            </h3>
        </div>
        <div data-collapse="!vm.collapse.citizenship">
            <div class="panel-body">
                <form name="docForm" data-ng-if="documents.citizenship.length>0">
                    <div data-ng-repeat="doc in documents.citizenship track by doc.id" class="person-doc">
                        <h4>
                            Документ №: {{doc.number}}
                            <small data-ng-if="doc.createdDate==doc.updatedDate">(создан: {{doc.createdDate|date:'dd.MM.yyyy'}}, автор: {{doc.createdBy}})</small>
                            <small data-ng-if="doc.createdDate!=doc.updatedDate">(изменен: {{doc.updatedDate|date:'dd.MM.yyyy'}}, автор: {{doc.updatedBy}})</small>
                        </h4>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="number">Номер документа</label>
                                    <input type="text" class="form-control" id="number" name="number" maxlength="255" data-ng-model="doc.number" />
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2" data-ng-repeat="prm in doc.parameters track by prm.id">
                                <div class="form-group">
                                    <label data-ng-attr-for="{{prm.prmName+prm.id}}">{{prm.prmNameRu}}</label>
                                    <div data-ng-switch="prm.prmType">
                                        <div data-ng-switch-when="1">
                                            <select class="form-control"
                                                    data-ng-attr-name="{{prm.prmName}}"
                                                    data-ng-attr-id="{{prm.prmName+prm.id}}"
                                                    data-ng-disabled="vm.loader[prm.prmName]"
                                                    data-ng-options="item.key as item.value for item in vm.dicts[prm.prmName]"
                                                    data-ng-model="prm.miscId">
                                                <option value=""></option>
                                            </select>
                                        </div>
                                        <div data-ng-switch-when="2">
                                            <textarea class="form-control"
                                                      data-ng-attr-name="{{prm.prmName}}"
                                                      data-ng-attr-id="{{prm.prmName+prm.id}}"
                                                      data-ng-model="prm.stringValue"></textarea>
                                        </div>
                                        <div data-ng-switch-when="3">
                                            <input type="date"
                                                   class="form-control"
                                                   placeholder="гггг-мм-дд"
                                                   data-ng-attr-name="{{prm.prmName}}"
                                                   data-ng-attr-id="{{prm.prmName+prm.id}}"
                                                   data-ng-date-fix=""
                                                   data-ng-model="prm.dateValue" />
                                        </div>
                                        <div data-ng-switch-when="4">
                                            <input type="text"
                                                   class="form-control"
                                                   data-ng-attr-name="{{prm.prmName}}"
                                                   data-ng-attr-id="{{prm.prmName+prm.id}}"
                                                   maxlength="255"
                                                   data-ng-model="prm.floatValue" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <h4 data-ng-if="documents.citizenship.length==0">Нет данных</h4>
                <img class="preloader" src="img/dark_preloader.gif" data-ng-if="vm.loader.citizenship" />
            </div>
        </div>
    </div>
</div>