<div class="row" style="height:40px;">
    <div class="col-md-2">
        <button class="btn btn-success" data-ng-click="vm.addDoc = !vm.addDoc">
            Добавить документ
        </button>
    </div>
    <div class="col-md-10 am-fade">
        <form class="form-inline" name="newdocform" data-ng-submit="createDoc(newdocform)" data-ng-if="vm.addDoc">
            <div class="form-group">
                <select class="form-control" data-ng-model="vm.newDocType" data-ng-disabled="vm.creatingDocument">
                    <option value="administrativePractice">Административная практика</option>
                    <option value="migrationRegistration">Миграционный учёт</option>
                    <option value="temporaryResidencePermit">РВП</option>
                    <option value="residence">Вид на жительство</option>
                    <option value="citizenship">Гражданство</option>
                </select>
                <button class="btn btn-primary" type="submit" data-ng-disabled="vm.creatingDocument">Создать</button>
            </div>
        </form>
    </div>
</div>