<div class="row">
    <form name="form" class="spacer-40 clearfix" data-ng-submit="save(form)">
        <div class="col-md-12">
            <div class="form-group">
                <label for="name">ФИО</label>
                <input class="form-control" id="name" name="name" maxlength="255" data-ng-model="person.name" required="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="citizenship">
                    Гражданство
                </label>
                <span class="clickable"
                      data-ng-if="person.facts.citizenship.factId"
                      data-fact-history=""
                      data-fact-id="person.facts.citizenship.factId"
                      data-person-id="person.id"
                      data-value-name="miscValue"></span>
                <select class="form-control"
                        id="citizenship"
                        name="citizenship"
                        data-ng-disabled="vm.loader.citizenship"
                        data-ng-options="item.key as item.value for item in vm.dicts.citizenship"
                        data-ng-model="person.facts.citizenship.miscId">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="birthday">Дата рождения</label>
                <input type="date" class="form-control" placeholder="гггг-мм-дд" id="birthday" name="birthday" data-ng-model="person.birthday" required="" data-ng-date-fix="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="personDocType">Личный документ</label>
                <span class="clickable"
                      data-ng-if="person.facts.privateDoc.factId"
                      data-fact-history=""
                      data-fact-id="person.facts.privateDoc.factId"
                      data-person-id="person.id"
                      data-value-name="miscValue"></span>
                <select class="form-control"
                        id="privateDoc"
                        name="privateDoc"
                        data-ng-disabled="vm.loader.privateDoc"
                        data-ng-options="item.key as item.value for item in vm.dicts.privateDoc"
                        data-ng-model="person.facts.privateDoc.miscId">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="docNo">Номер личного документа</label>
                <span class="clickable"
                      data-ng-if="person.facts.privateDoc.factId"
                      data-fact-history=""
                      data-fact-id="person.facts.privateDoc.factId"
                      data-person-id="person.id"
                      data-value-name="stringValue"></span>
                <input class="form-control" id="name" name="name" maxlength="255" data-ng-model="person.facts.privateDoc.stringValue" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="type">Соискатель/Принимающая сторона</label>
                <select class="form-control"
                        name="type"
                        id="type"
                        data-ng-disabled="vm.loader.personType"
                        data-ng-options="item.key as item.value for item in vm.dicts.personType"
                        data-ng-model="person.type">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="category">Физическое/Юридическое лицо</label>
                <select class="form-control col-md-12"
                        name="category"
                        id="category"
                        data-ng-disabled="vm.loader.personCategory"
                        data-ng-options="item.key as item.value for item in vm.dicts.personCategory"
                        data-ng-model="person.category">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="address">Адрес</label>
                <span class="clickable"
                      data-ng-if="person.facts.address.factId"
                      data-fact-history=""
                      data-fact-id="person.facts.address.factId"
                      data-person-id="person.id"
                      data-value-name="stringValue"></span>
                <textarea class="form-control col-md-12"
                          name="address"
                          id="address"
                          data-ng-model="person.facts.address.stringValue"></textarea>
            </div>
        </div>
        <!--<button type="submit" class="btn btn-primary btn-lg pull-right">
            <i class="fa fa-save"></i> Сохранить
        </button>-->
    </form>
</div>
