<form name="form" data-ng-submit="save(form)">
    <div class="row">
        <div class="col-md-6" data-ng-if="person.category==2">
            <div class="form-group">
                <label for="name">Название</label>
                <input class="form-control" id="name" name="name" maxlength="255" data-ng-model="person.name" required="" />
            </div>
        </div>
        <div class="col-md-6" data-ng-if="person.category==2">
            <div class="form-group">
                <label for="code">ИНН</label>
                <input class="form-control" id="code" name="code" maxlength="255" data-ng-model="person.code" required="" />
            </div>
        </div>

        <div class="col-md-12" data-ng-if="person.category==1">
            <div class="form-group">
                <label for="name">ФИО</label>
                <input class="form-control" id="name" name="name" maxlength="255" data-ng-model="person.name" required="" />
            </div>
        </div>

        <div class="col-md-6" data-ng-if="person.category==1">
            <div class="form-group">
                <label for="citizenship">
                    Гражданство
                </label>
                <span class="clickable"
                      data-ng-if="person.facts.citizenship.prmId"
                      data-fact-history=""
                      data-fact-id="person.facts.citizenship.prmId"
                      data-person-id="person.id"
                      data-value-name="miscValue"></span>
                <select class="form-control"
                        id="citizenship"
                        name="citizenship"
                        data-ng-disabled="vm.loader.citizenship"
                        data-ng-options="item.key as item.value for item in vm.dicts['Гражданство']"
                        data-ng-model="person.facts['гражданство'].miscId">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6" data-ng-if="person.category==1">
            <div class="form-group">
                <label for="birthday">Дата рождения</label>
                <input type="text"
                       class="form-control"
                       id="birthday"
                       name="birthday"
                       data-ng-model="person.birthday"
                       data-bs-datepicker="">
            </div>
        </div>
        <div class="col-md-6" data-ng-if="person.category==1">
            <div class="form-group">
                <label for="personDocType">Личный документ</label>
                <span class="clickable"
                      data-ng-if="person.facts.privateDoc.prmId"
                      data-fact-history=""
                      data-fact-id="person.facts.privateDoc.prmId"
                      data-person-id="person.id"
                      data-value-name="miscValue"></span>
                <select class="form-control"
                        id="privateDoc"
                        name="privateDoc"
                        data-ng-disabled="vm.loader.privateDoc"
                        data-ng-options="item.key as item.value for item in vm.dicts['Личный документ']"
                        data-ng-model="person.facts['личный документ'].miscId">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6" data-ng-if="person.category==1">
            <div class="form-group">
                <label for="docNo">Номер личного документа</label>
                <span class="clickable"
                      data-ng-if="person.facts.privateDoc.prmId"
                      data-fact-history=""
                      data-fact-id="person.facts.privateDoc.prmId"
                      data-person-id="person.id"
                      data-value-name="stringValue"></span>
                <input class="form-control" id="name" name="name" maxlength="255" data-ng-model="person.facts.privateDoc.stringValue" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone">Телефон</label>
                <input type="tel" class="form-control" id="phone" name="phone" maxlength="25" data-ng-model="person.parameters['телефон'].stringValue" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="email">Электронная почта</label>
                <input type="email" class="form-control" id="email" name="email" maxlength="100" data-ng-model="person.parameters['электронная почта'].stringValue" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="type">Соискатель/Принимающая сторона</label>
                <select class="form-control"
                        name="type"
                        id="type"
                        data-ng-disabled="vm.loader.personType"
                        data-ng-options="item.key as item.value for item in vm.dicts.personType"
                        data-ng-model="person.type">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="category">Физическое/Юридическое лицо</label>
                <select class="form-control col-md-12"
                        name="category"
                        id="category"
                        data-ng-disabled="vm.loader.personCategory"
                        data-ng-options="item.key as item.value for item in vm.dicts.personCategory"
                        data-ng-model="person.category">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <label for="address">Адрес</label>
                <span class="clickable"
                      data-ng-if="person.facts.address.prmId"
                      data-fact-history=""
                      data-fact-id="person.facts.address.prmId"
                      data-person-id="person.id"
                      data-value-name="stringValue"></span>
                <textarea class="form-control col-md-12"
                          name="address"
                          id="address"
                          data-ng-model="person.facts['адрес'].stringValue"></textarea>
            </div>
        </div>
    </div>
    <div class="clearfix spacer-40">
        <button type="submit" class="btn btn-primary btn-lg pull-right" data-ng-disabled="vm.loader.savingPerson" data-ng-class="{'btn-success':vm.state.savingPerson==1, 'btn-danger':vm.state.savingPerson==2}">
            <span data-ng-switch="vm.state.savingPerson">
                <span data-ng-switch-when="1">
                    <i class="fa fa-check"></i> Анкета успешно сохранена
                </span>
                <span data-ng-switch-when="2">
                    <i class="fa fa-exclamation"></i> При сохранении произошла ошибка
                </span>
                <span data-ng-switch-default="">
                    <i class="fa fa-save"></i> Сохранить
                </span>
            </span>
        </button>
    </div>
</form>
