<div class="row">
    <div class="panel panel-primary panel-strong">
        <div class="panel-heading clearfix clickable" data-ng-click="toggleDocuments('migrationRegistration')">
            <h3 class="panel-title pull-left">
                Документы - Миграционный учёт
                <span>({{::person.docsCount.migrationRegistration}})</span>
            </h3>
            <h3 class="panel-title pull-right">
                <i class="fa"
                   data-ng-class="{'fa-chevron-circle-up': vm.collapse.migrationRegistration, 'fa-chevron-circle-down': !vm.collapse.migrationRegistration}"></i>
            </h3>
        </div>
        <div data-collapse="!vm.collapse.migrationRegistration">
            <div class="panel-body">
                <form name="docForm" data-ng-if="documents.migrationRegistration.length>0">
                    <div data-ng-repeat="doc in documents.migrationRegistration track by doc.id" class="person-doc">
                        <h4>
                            Документ №: {{doc.number}}
                            <small data-ng-if="doc.createdDate==doc.updatedDate">(создан: {{::doc.createdDate|date:'dd.MM.yyyy'}}, автор: {{::doc.createdBy}})</small>
                            <small data-ng-if="doc.createdDate!=doc.updatedDate">(изменен: {{doc.updatedDate|date:'dd.MM.yyyy'}}, автор: {{doc.updatedBy}})</small>
                        </h4>
                        <h5 data-ng-if="doc.corrPerson.category==1">
                            Соискатель: <a data-ui-sref="root.person({id:doc.corrPerson.id})" target="_blank">{{::doc.corrPerson.name}}</a>
                            <small>({{::doc.corrPerson.birthday|date:'dd.MM.yyyy'}})</small>
                        </h5>
                        <h5 data-ng-if="doc.corrPerson.category==2">
                            Принимающая сторона: <a data-ui-sref="root.person({id:doc.corrPerson.id})" target="_blank">{{::doc.corrPerson.name}}</a>
                            <small>(инн: {{::doc.corrPerson.code}})</small>
                        </h5>
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="number">
                                        Номер уведомления
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           id="number"
                                           name="number"
                                           maxlength="255"
                                           data-ng-model="doc.number"
                                           data-ng-model-options="vm.modelUpdate"
                                           data-ng-change="saveDoc(docForm, doc)" />
                                </div>
                            </div>
                            <div data-ng-include="'views/person/prms-body.html'"></div>                        
                        </div>
                    </div>
                </form>

                <img class="preloader" src="img/dark_preloader.gif" data-ng-if="vm.loader.migrationRegistration" />
            </div>
        </div>
    </div>
</div>