<div class="row">
    <div class="panel panel-primary panel-strong">
        <div class="panel-heading clearfix clickable" data-ng-click="toggleDocuments('residence')">
            <h3 class="panel-title pull-left">
                Документы - ВНЖ
                <span>({{::person.docsCount.residence}})</span>
            </h3>
            <h3 class="panel-title pull-right">
                <i class="fa"
                   data-ng-class="{'fa-chevron-circle-up': vm.collapse.residence, 'fa-chevron-circle-down': !vm.collapse.residence}"></i>
            </h3>
        </div>
        <div data-collapse="!vm.collapse.residence">
            <div class="panel-body">
                <form name="docForm" data-ng-if="documents.residence.length>0">
                    <div data-ng-repeat="doc in documents.residence track by doc.id" class="person-doc">
                        <h4>
                            Документ №: {{doc.number}}
                            <small data-ng-if="doc.createdDate==doc.updatedDate">(создан: {{::doc.createdDate|date:'dd.MM.yyyy'}}, автор: {{::doc.createdBy}})</small>
                            <small data-ng-if="doc.createdDate!=doc.updatedDate">(изменен: {{doc.updatedDate|date:'dd.MM.yyyy'}}, автор: {{doc.updatedBy}})</small>
                        </h4>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="number">
                                        Идентификатор дела
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           id="number"
                                           name="number"
                                           maxlength="255"
                                           data-ng-model="doc.number" />
                                </div>
                            </div>
                            <div data-ng-include="'views/person/prms-body.html'"></div>
                        </div>
                    </div>
                </form>

                <img class="preloader" src="img/dark_preloader.gif" data-ng-if="vm.loader.residence" />
            </div>
        </div>
    </div>
</div>