<div class="row">
    <div class="panel panel-primary panel-strong">
        <div class="panel-heading clearfix clickable" data-ng-click="toggleDocuments('residence')">
            <h3 class="panel-title pull-left">
                Документы - ВНЖ
                <span>({{::person.docsCount.residence}})</span>
            </h3>
            <h3 class="panel-title pull-right">
                <i class="fa"
                   data-ng-class="{'fa-chevron-circle-up': vm.collapse.residence, 'fa-chevron-circle-down': !vm.collapse.residence}"></i>
            </h3>
        </div>
        <div data-collapse="!vm.collapse.residence">
            <div class="panel-body">
                <form name="docForm" data-ng-if="documents.residence.length>0">
                    <div data-ng-repeat="doc in documents.residence track by doc.id" class="person-doc">
                        <h4>
                            Документ №: {{doc.number}}
                            <small data-ng-if="doc.createdDate==doc.updatedDate">(создан: {{::doc.createdDate|date:'dd.MM.yyyy'}}, автор: {{::doc.createdBy}})</small>
                            <small data-ng-if="doc.createdDate!=doc.updatedDate">(изменен: {{doc.updatedDate|date:'dd.MM.yyyy'}}, автор: {{doc.updatedBy}})</small>
                        </h4>

                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label for="number">
                                        Идентификатор дела
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           id="number"
                                           name="number"
                                           maxlength="255"
                                           data-ng-model="doc.number" />
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Номер дела
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="docNo2"
                                           data-ng-model="doc.parameters.docNo2.stringValue">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Тип дела
                                    </label>
                                    <select class="form-control"
                                            name="docActionType"
                                            data-ng-disabled="vm.loader[doc.parameters.docActionType.dicId]"
                                            data-ng-options="item.key as item.value for item in vm.dicts[doc.parameters.docActionType.dicId]"
                                            data-ng-model="doc.parameters.docActionType.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Основание дела
                                    </label>
                                    <select class="form-control"
                                            name="docAdmission"
                                            data-ng-disabled="vm.loader[doc.parameters.docAdmission.dicId]"
                                            data-ng-options="item.key as item.value for item in vm.dicts[doc.parameters.docAdmission.dicId]"
                                            data-ng-model="doc.parameters.docAdmission.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Дата приема заявления
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="dateOfReceipt"
                                           data-ng-model="doc.parameters.dateOfReceipt.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Дата решения
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="decisionDate"
                                           data-ng-model="doc.parameters.decisionDate.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Тип решения
                                    </label>
                                    <select class="form-control"
                                            name="decisionType"
                                            data-ng-disabled="vm.loader[doc.parameters.decisionType.dicId]"
                                            data-ng-options="item.key as item.value for item in vm.dicts[doc.parameters.decisionType.dicId]"
                                            data-ng-model="doc.parameters.decisionType.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Серия ВНЖ
                                    </label>
                                    <select class="form-control"
                                            name="seriesVng"
                                            data-ng-disabled="vm.loader[doc.parameters.seriesVng.dicId]"
                                            data-ng-options="item.key as item.value for item in vm.dicts[doc.parameters.seriesVng.dicId]"
                                            data-ng-model="doc.parameters.seriesVng.miscId">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Номер ВНЖ
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="vngNo"
                                           data-ng-model="doc.parameters.vngNo.stringValue">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Дата выдачи
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="issueDate"
                                           data-ng-model="doc.parameters.issueDate.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Действителен С
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="validFrom"
                                           data-ng-model="doc.parameters.validFrom.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Действителен ПО
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="validTo"
                                           data-ng-model="doc.parameters.validTo.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                            <div class="col-md-8 col-md-offset-2">
                                <div class="form-group">
                                    <label>
                                        Дата фактической выдачи
                                    </label>
                                    <input type="text"
                                           class="form-control"
                                           name="actualDate"
                                           data-ng-model="doc.parameters.actualDate.dateValue"
                                           data-bs-datepicker="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <img class="preloader" src="img/dark_preloader.gif" data-ng-if="vm.loader.residence" />
            </div>
        </div>
    </div>
</div>