<div class="bs-callout bs-callout-primary">
    <h4>
        <label class="clickable">
            <input type="checkbox"
                   name="isChecked"
                   data-ng-model="searchModel.docs.migrationRegistration.isChecked"
                   data-ng-change="toggleDocSearch('migrationRegistration')" /> Миграционный учёт
        </label>
    </h4>

    <div data-ng-if="searchModel.docs.migrationRegistration.isChecked">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="form-group">
                    <label for="apDocNo">Номер уведомления</label>
                    <input type="text" class="form-control" name="docNo" id="apDocNo" data-ng-model="searchModel.docs.migrationRegistration.docNo" />
                </div>
            </div>
        </div>
        <div class="row">
            <div data-ng-repeat="prm in parameters.migrationRegistration track by prm.id">
                <div data-ng-include="'views/search/prms-body.html'"></div>
            </div>
        </div>
    </div>
</div>

