<div class="bs-callout bs-callout-primary" >
    <h4>
        <label>
            <input type="checkbox" name="isChecked" data-ng-model="searchModel.docs.vng.isChecked" /> Вид на жительство
        </label>
    </h4>

    <div data-ng-if="searchModel.docs.vng.isChecked">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="vngDocNo">Идентификатор дела</label>
                    <input type="text" class="form-control" name="docNo" id="vngDocNo" data-ng-model="searchModel.docs.vng.docNo" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="docNo2">Номер дела</label>
                    <input type="text" class="form-control" name="docNo2" id="decisionNo" data-ng-model="searchModel.docs.vng.docNo2" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="rvpNo">Номер ВНЖ</label>
                    <input type="text" class="form-control" name="rvpNo" id="rvpNo" data-ng-model="searchModel.docs.vng.vngNo" />
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="docActionType">Тип дела</label>
                    <select class="form-control"
                            id="docActionType"
                            name="docActionType"
                            data-ng-disabled="vm.loader.docActionTypeVng"
                            data-ng-options="item.key as item.value for item in vm.dicts['Тип дела']"
                            data-ng-model="searchModel.docs.vng.docActionType">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="docAdmission">Основание дела</label>
                    <select class="form-control"
                            id="docAdmission"
                            name="docAdmission"
                            data-ng-disabled="vm.loader.docAdmissionVng"
                            data-ng-options="item.key as item.value for item in vm.dicts['Основание дела']"
                            data-ng-model="searchModel.docs.vng.docAdmission">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="decisionType">Тип решения</label>
                    <select class="form-control"
                            id="decisionType"
                            name="decisionType"
                            data-ng-disabled="vm.loader.decisionTypeVng"
                            data-ng-options="item.key as item.value for item in vm.dicts['Тип решения']"
                            data-ng-model="searchModel.docs.vng.decisionType">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="series">Серия ВНЖ</label>
                    <select class="form-control"
                            id="series"
                            name="series"
                            data-ng-disabled="vm.loader.seriesVng"
                            data-ng-options="item.key as item.value for item in vm.dicts['Серия ВНЖ']"
                            data-ng-model="searchModel.docs.vng.series">
                        <option value=""></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stDateOfReceiptVng">Дата приема заявления с</label>
                    <input type="text" class="form-control" name="stDateOfReceipt" id="stDateOfReceiptVng" data-ng-model="searchModel.docs.vng.stDateOfReceipt" data-bs-datepicker="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endDateOfReceiptVng">по</label>
                    <input type="text" class="form-control" name="endDateOfReceipt" id="endDateOfReceiptVng" data-ng-model="searchModel.docs.vng.endDateOfReceipt" data-bs-datepicker="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stDecisionDateVng">Дата решения с</label>
                    <input type="text" class="form-control" name="stDecisionDate" id="stDecisionDateVng" data-ng-model="searchModel.docs.vng.stDecisionDate" data-bs-datepicker="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endDecisionDateVng">по</label>
                    <input type="text" class="form-control" name="endDecisionDate" id="endDecisionDateVng" data-ng-model="searchModel.docs.vng.endDecisionDate" data-bs-datepicker="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stIssueDateVng">Дата выдачи с</label>
                    <input type="text" class="form-control" name="stIssueDate" id="stIssueDateVng" data-ng-model="searchModel.docs.vng.stIssueDate" data-bs-datepicker="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endIssueDateVng">по</label>
                    <input type="text" class="form-control" name="endIssueDate" id="endIssueDateVng" data-ng-model="searchModel.docs.vng.endIssueDate" data-bs-datepicker="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stActualDateVng">Дата фактической выдачи с</label>
                    <input type="text" class="form-control" name="stActualDate" id="stActualDateVng" data-ng-model="searchModel.docs.vng.stActualDate" data-bs-datepicker="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="endActualDateRvp">по</label>
                    <input type="text" class="form-control" name="endActualDate" id="endActualDateVng" data-ng-model="searchModel.docs.vng.endActualDate" data-bs-datepicker="" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="validFrom">Действителен С</label>
                    <input type="text"
                           class="form-control"
                           name="validFrom"
                           id="validFrom"
                           placeholder="(строгое равенство)"
                           data-ng-model="searchModel.docs.vng.validFrom" data-bs-datepicker="" />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="validTo">Действителен ПО</label>
                    <input type="text"
                           class="form-control"
                           name="validTo"
                           id="validTo"
                           placeholder="(строгое равенство)"
                           data-ng-model="searchModel.docs.vng.validTo" data-bs-datepicker="" />
                </div>
            </div>
        </div>
    </div>
  
</div>

