<nav class="navbar navbar-default navbar-fixed-top" data-ng-controller="HeaderCtrl">
    <div class="container">
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li data-ui-sref-active="active">
                    <a data-ng-click="createPerson()">
                        <i class="fa fa-user-plus"></i> Создать анкету
                    </a>
                </li>
                <li data-ui-sref-active="active">
                    <a data-ui-sref="root.home">
                        <i class="fa fa-download"></i> Импорт
                    </a>
                </li>               
                <li data-ui-sref-active="active">
                    <a data-ui-sref="root.search">
                        <i class="fa fa-search"></i> Поиск
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" data-dropdown="">
                    <a href="javascript:void(0)" data-dropdown-toggle="">
                        <i class="fa fa-cog"></i>
                        <span>Настройки</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="javascript:void(0)" data-ng-click="changePassword()">
                                <i class="fa fa-lock"></i> Сменить пароль
                            </a>
                        </li>
                        <li>
                            <a data-ui-sref="root.admin" data-ng-if="currentUser.isAdmin">
                                <i class="fa fa-table"></i> Словари
                            </a>
                        </li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="javascript:void(0)" data-ng-click="logout()">
                                <i class="fa fa-sign-out"></i> Выйти
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>