<div class="panel panel-primary panel-strong panel-search">
    <div class="panel-heading clearfix clickable" data-ng-click="vm.isSearchBodyCollapsed=!vm.isSearchBodyCollapsed">
        <h2 class="panel-title pull-left">
            <i class="fa fa-search"></i>
            Поиск <span data-ng-if="vm.pagination.total">({{vm.pagination.total}})</span>
        </h2>
        <h2 class="panel-title pull-right">
            <i class="fa"
               data-ng-class="{'fa-chevron-circle-up': vm.isSearchBodyCollapsed, 'fa-chevron-circle-down': !vm.isSearchBodyCollapsed}"></i>
        </h2>
    </div>
    <form name="sform" data-ng-submit="search()" data-collapse="vm.isSearchBodyCollapsed">
        <div class="panel-body">

            <h3>Личная информация:</h3>
            <div data-ng-include="'views/search/person.html'" class="s-block"></div>

            <h3>Документы:</h3>
            <div data-ng-include="'views/search/ap.html'" class="s-block"></div>
            <!--<div data-ng-include="'views/search/mu.html'" class="s-block"></div>
            <div data-ng-include="'views/search/rvp.html'" class="s-block"></div>
            <div data-ng-include="'views/search/vng.html'" class="s-block"></div>
            <div data-ng-include="'views/search/ctz.html'" class="s-block"></div>-->

        </div>
        <div class="panel-footer clearfix">
            <button type="reset" class="btn btn-danger pull-left" data-ng-click="reset()">Очистить форму</button>
            <button type="submit" class="btn btn-primary pull-right" data-ng-disabled="vm.isSendingRequest">Найти</button>
        </div>
    </form>
</div>

<div data-ui-view=""></div>