body {
  padding-top: 80px;
  padding-bottom: 40px;
  background-color: #eee;
}
.form {
  padding: 15px;
  margin: 0 auto;
}
.form.sign-in {
  max-width: 380px;
}
.form.sign-in .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
.bg-primary,
.bg-success,
.bg-info,
.bg-warning,
.bg-danger {
  padding: 15px;
}
.spacer-40 {
  margin-top: 40px;
}
.spacer-80 {
  margin-top: 80px;
}
.spacer-b-40 {
  margin-bottom: 40px;
}
.panel-strong {
  border-radius: 0;
}
.panel-strong .panel-heading {
  border-radius: 0;
}
.panel-danger .panel-heading {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.animate {
  opacity: 1;
  margin-top: 0;
  -moz-transition: all ease-out 1s;
  -o-transition: all ease-out 1s;
  -webkit-transition: all ease-out 1s;
  transition: all ease-out 1s;
}
.animate.ng-animate.ng-enter {
  opacity: 0;
  margin-top: 100px;
}
.animate.ng-animate.ng-enter-active {
  opacity: 1;
  margin-top: 0;
}
.clickable {
  cursor: pointer;
}
.fact-history {
  display: inline;
}
.s-result {
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.4);
  background-color: #fff;
}
.s-result:hover {
  background-color: #eee;
}
.preloader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.person-doc {
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.person-doc:last-child {
  border-bottom: none;
}
.panel-search .s-block {
  padding: 10px;
}
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout-strong {
  border-radius: 0;
  border-bottom: 1px #ddd;
  border-right: 1px #ddd;
  border-top: 1px #ddd;
}
.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
.bs-callout + .bs-callout {
  margin-top: -5px;
}
.bs-callout-default {
  border-left-color: #777;
}
.bs-callout-default h4 {
  color: #777;
}
.bs-callout-primary {
  border-left-color: #428bca;
}
.bs-callout-primary h4 {
  color: #428bca;
}
.bs-callout-success {
  border-left-color: #5cb85c;
}
.bs-callout-success h4 {
  color: #5cb85c;
}
.bs-callout-danger {
  border-left-color: #d9534f;
}
.bs-callout-danger h4 {
  color: #d9534f;
}
.bs-callout-warning {
  border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
  color: #f0ad4e;
}
.bs-callout-info {
  border-left-color: #5bc0de;
}
.bs-callout-info h4 {
  color: #5bc0de;
}
